<ng-container *ngIf="connectionStatus != 'Connected'">
  <input type=" text" [(ngModel)]="username" placeholder="Enter your Full to Start" class="username-input">
  <button (click)="connect()">Connect</button>
</ng-container>


<div class="status" *ngIf="connectionStatus == 'Connected'">
  Connected as {{ username }}
</div>
<div class="status" *ngIf="connectionStatus !== 'Connected'">
  {{ connectionStatus }}
</div>

<br>

<ng-container *ngIf="connectionStatus === 'Connected' && this.userIcon != null">

  <div class="toolbar">
    <button (click)="format('bold')"><b>B</b></button>
    <button (click)="format('italic')"><i>I</i></button>
    <button (click)="format('underline')"><u>U</u></button>
  </div>

  <!-- Note container holds both the contenteditable note area and an overlay for remote cursors -->
  <div class="note-container">
    <div #noteArea id="noteDiv" contenteditable="true" class="note" data-placeholder="Start typing your note..."
      (input)="onInput()" (keyup)="updateCursor()" (click)="updateCursor()">
    </div>
    <!-- Overlay for remote cursors -->
    <div class="remote-cursors">
      <ng-container *ngFor="let cursor of remoteCursorEntries">
        <div class="remote-cursor" [ngStyle]="{'left.px': cursor[1].x, 'top.px': cursor[1].y - 35}">
          <img [src]="cursor[1].icon" class="cursor-icon">
          <!-- Blinking caret element -->
          <div class="blinking-caret"></div>
        </div>


      </ng-container>
    </div>
  </div>

</ng-container>