.note-container {
    position: relative;
    /* So that child absolute elements are positioned relative to this container */
}

.note {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 200px;
}

.remote-cursors {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Allow clicks to pass through to the note area */
}

/* Container for each remote cursor */
.remote-cursor {
    position: absolute;
    display: flex;
    align-items: center;
}

.cursor-icon {
    width: 20px;
    height: 20px;
    pointer-events: none;
    position: absolute;
    /* Positioning will be controlled by ngStyle */
}

/* Blinking caret indicator */
.blinking-caret {
    width: 2px;
    height: 20px;
    background: black;
    margin-top: 35px;
    pointer-events: none;
    animation: blink 1s infinite;
}

/* To mimic the placeholder on the div*/
#noteDiv:empty:before {
    content: attr(data-placeholder);
    color: gray
}

/* CSS animation for blinking effect */
@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    50.01%,
    100% {
        opacity: 0;
    }
}